name: REUSE Compliance Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  reuse-tool:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Check REUSE Compliance
      run: |
        pipx install reuse
        reuse lint
