name: REUSE Compliance Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  reuse-tool:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Check REUSE Compliance
      run: |
        pipx install reuse
        reuse lint
