name: REUSE Compliance Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  reuse-tool:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Check REUSE Compliance
      run: |
        pipx install reuse
        reuse lint
