name: REUSE Compliance Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  reuse-tool:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Check REUSE Compliance
      run: |
        pipx install reuse
        reuse lint
