name: Static Analysis

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  renovate-validation:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Validate Repository Renovate Config
      run: npx -y --package renovate -- renovate-config-validator renovate.json
